<section class="sobreMi container">
  <div class="sobreMi_txt">
    <h2 class="sobreMi_title">Sobre mí</h2>
    <p class="sobreMi_descripcion">
      Em dic Ariadna, tinc 25 anys, sóc nascuda a la província de Tarragona.
      Sóc la tercer de quatre germans i germanes. M'agrada viatjar i és per
      això que de ben joveneta he viscut a Irlanda, Itàlia, França, entre
      altres. Tots han estat viatges molt enriquidors i plens
      d'experiències, de bons moments, però també de moments durs que m'han
      fet créixer i m'han fet conèixer persones magnífiques. Actualment visc
      a Lleida, on estudio un grau a la universitat.
    </p>
    <p class="sobreMi_descripcion">
      La música per a mi ha estat, en diversos àmbits, molt present a la
      meva vida. Els esforços vers l’educació musical per part de la meva
      família al llarg de la meva infància, van fer possible que avui dia en
      tingui algun coneixement, és per això que, amb els anys, he anat
      desenvolupant cada vegada més interés per aquesta disciplina. A mesura
      que vaig anar creixent, vaig anar definint el meu estil amb més
      profunditat. Avui dia puc dir que gaudeixo de la mateixa manera tocant
      una peça clàssica amb el piano, cantant Melendi amb la guitarra i
      cantant rap sota un beat de Boom Bap. El que tinc clar es que la
      música s’ha convertit en una manera de canalitzar, d’expressar i
      d’expulsar molt important i necessària per a mi.
    </p>
  </div>
  <figure class="sobreMi_img">
    <img src="/assets/AriMicro.jpg " class="sobreMi_picture" />
  </figure>
  <figure class="sobreMi_img">
    <img src="/assets/AriBW.jpg " class="sobreMi_picture" />
  </figure>
  <div class="sobreMi_txt">
    <p class="sobreMi_descripcion ">
      Me llamo Ariadna, tengo 25 años y nací en la provincia de Tarragona.
      Soy la tercera de cuatro hermanos y hermanas. Me gusta viajar, por
      eso, desde muy joven, he vivido en Irlanda, Italia y Francia. Han sido
      viajes llenos de experiencias y buenos momentos, pero también de
      momentos difíciles que me han ayudado a crecer y a conocer a personas
      maravillosas. Actualmente vivo en Lleida, donde estoy estudiando en la
      universidad.
    </p>
    <p class="sobreMi_descripcion">
      La música ha estado presente en diferentes aspectos de mi vida. Los
      esfuerzos de mi familia por mi educación musical durante mi infancia
      han permitido que tenga conocimientos en este campo, por lo que con el
      tiempo he desarrollado un interés cada vez mayor en esta disciplina. A
      medida que fui creciendo, fui definiendo mi estilo musical con más
      profundidad. Hoy en día puedo decir que disfruto igualmente tocando
      una pieza clásica en el piano, cantando canciones de Melendi con la
      guitarra y rapeando sobre un ritmo de Boom Bap. Lo que tengo claro es
      que la música se ha convertido en una forma importante y necesaria
      para mí de canalizar, expresar y liberar mis emociones
    </p>
  </div>
</section>
<section class="thanks container">
  <h2 class="thanks_title">Agraïments</h2>
  <p class="thanks_paragraf">
    Eternament agraïda a la meva família que ha cregut i confiar en mi desde
    el primer dia, i ho segueix fent. Gracias a todas esas personas que han
    aportado y siguen haciéndolo, su granito de arena. Dónde he aprendido
    muchas cosas y las hemos mejorado muchísimo, porque en buena compañia
    siempre es mejor. Gracias a productores como Emiel, Borys y la
    Norestekings que siguen animando y han invertido con las mejores ganas
    su tiempo conmigo. Gracias a Meis por enseñarme tanto.
  </p>
  <div class="thanks_grid">
    <figure class="thanks_img">
      <img src="/assets/AriMicro.jpg " class="thanks_picture" />
    </figure>
    <figure class="thanks_img">
      <img src="/assets/AriBW.jpg " class="thanks_picture" />
    </figure>
    <figure class="thanks_img">
      <img src="/assets/AriMicro.jpg " class="thanks_picture" />
    </figure>
    <figure class="thanks_img">
      <img src="/assets/AriBW.jpg " class="thanks_picture" />
    </figure>
  </div>
  <p class="thanks_paragraf">
    Gracias a productores como Emiel, Borys y la Norestekings que siguen
    animando y han invertido con las mejores ganas su tiempo conmigo.
    Gracias a Meis por enseñarme tanto Gràcies al lloc on treballo, la
    Pizzeria Boscos per donar-me tant de suport. Per donar-me dies de festa
    quan tinc un concert, fer-me propaganda i valorar cada esforç que faig
    amb la música. “Es tarde” esta grabada a la pizzeria.
  </p>
  <div class="thanks_grid2">
    <figure class="thanks_img">
      <img src="/assets/AriMicro.jpg " class="thanks_picture" />
    </figure>
    <figure class="thanks_img">
      <img src="/assets/AriBW.jpg " class="thanks_picture" />
    </figure>
  </div>
</section>
