<section class="prox_events">
  <h2 class="subtitle">PRÓXIMOS EVENTOS</h2>
  <div class="grid_prox">
    <figure class="prox_img">
      <img src="/assets/evento1.jpeg" class="prox_picture" />
    </figure>
    <div class="inf">
      <h3 class="subtitle_section">INFORMACIÓN</h3>
      <p class="info_txt">Ubicación:</p>
      <p class="info_txt">Hora:</p>
      <p class="info_txt">Precio:</p>
    </div>
  </div>
</section>
<section class="ant_events">
  <h2 class="subtitle">EVENTOS ANTERIORES</h2>
  <div class="grid_ant">

    <article class="projects_item">
      <img src="/assets/evento2.jpeg" class="ant_picture" />
      <div class="project_hover">
        <h2 class="project_title">Les Tres esses de Montblanc</h2>
        <i class="project_icon">12 ENE</i>
      </div>
    </article>

    <article class="projects_item">
      <img src="/assets/evento4.jpeg" class="ant_picture" />
      <div class="project_hover">
        <h2 class="project_title">Sala Zero</h2>
        <i class="project_icon">26 MAR</i>
      </div>
    </article>

    <article class="projects_item">
      <img src="/assets/evento5.jpeg" class="ant_picture" />
      <div class="project_hover">
        <h2 class="project_title">Espai La Palmera de TGN</h2>
        <i class="project_icon"> 07 FEB </i>
      </div>
    </article>

    <article class="projects_item">
      <img src="/assets/evento6.jpeg" class="ant_picture" />
      <div class="project_hover">
        <h2 class="project_title">Brutal Media TV3</h2>
        <i class="project_icon">30 DEC </i>
      </div>
    </article>

    <article class="projects_item">
      <img src="/assets/evento7.jpeg" class="ant_picture" />
      <div class="project_hover">
        <h2 class="project_title">La Santa Vermuteria de Lleida</h2>
        <i class="project_icon">14 OCT</i>
      </div>
    </article>

    <article class="projects_item">
      <img src="/assets/evento8.jpeg" class="ant_picture" />
      <div class="project_hover">
        <h2 class="project_title">Espai Kesse</h2>
        <i class="project_icon">04 JUN</i>
      </div>
    </article>

    <article class="projects_item">
      <img src="/assets/evento9.jpeg" class="ant_picture" />
      <div class="project_hover">
        <h2 class="project_title">Les 3 Esses de Sant Josep</h2>
        <i class="project_icon">21 MAY</i>
      </div>
    </article>

    <article class="projects_item">
      <img src="/assets/evento10.jpeg" class="ant_picture" />
      <div class="project_hover">
        <h2 class="project_title">Pizza Boscos </h2>
        <i class="project_icon">15 ABR</i>
      </div>
    </article>

    <article class="projects_item">
      <img src="/assets/evento5.jpeg" class="ant_picture" />
      <div class="project_hover">
        <h2 class="project_title">Bar Ger Sant Pere de Ribes</h2>
        <i class="project_icon">03 AGO</i>
      </div>
    </article>

  </div>
</section>
