<body>
  <section class="singles">
    <div class="grid_ep">
      <div class="music_item">
        <img class="elemento_m" src="assets/uhnanana.png" alt="">
        <div class="musica_hover">
          <p class="album_titulo">2023</p>
        </div>
      </div>
      <div class="music_item">
        <img class="elemento_m" src="assets/shockderealitat.png" alt="">
        <div class="musica_hover">
          <p class="album_titulo">2023</p>
        </div>
      </div>
      <div class="music_item">

        <img class="elemento_m" src="assets/4faces.png" alt="">
        <div class="musica_hover">
          <p class="album_titulo">2023</p>
        </div>
      </div>
      <div class="music_item">

        <img class="elemento_m" src="/assets/vidaloca.png" alt="">
        <div class="musica_hover">
          <p class="album_titulo">2023</p>
        </div>
      </div>
      <div class="music_item">
        <img class="elemento_m" src="assets/whatwhat.png" alt="">
        <div class="musica_hover">
          <p class="album_titulo">2022</p>
        </div>
      </div>
      <div class="music_item">
        <img class="elemento_m" src="assets/howtodealwithyou.png" alt="">
        <div class="musica_hover">
          <p class="album_titulo">2022</p>
        </div>
      </div>

    </div>
    <div class="playlist-container">
      <!-- Agrega aquí el código del iframe proporcionado por Spotify -->
      <iframe style="border-radius:12px"
        src="https://open.spotify.com/embed/artist/7M3b2lGkHbErIuR3iCg6Ms?utm_source=generator" width="100%"
        height="352" frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
  </section>
</body>
